[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-search-results = "*"
pymupdf = "*"
anthropic = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3"
